#pertanyaan {
 font-size: 55px;
}
#soal {
 font-size: 45px;
}
#skor {
 font-size: 35px;
}
#jawaban {
 width: 500px;
 height: 50px;
 background-color: white;
}
#kirim {
 width: 75px;
 height: 50px;
 background-color: lime;
 color: black;
}